body {
    background: darkgray;
}

.main-content {
    width: 50%;
    height: 100%;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.igpost {
    background: white;
    width: 60%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}