body {
    background: darkgray;
}

.main-content {
    width: 50%;
    height: 100%;
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.igpost {
    background: white;
    width: 60%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rigo {
    padding: 0px;
    text-decoration: none;
}

img {
    margin: auto;
    width: 100%;
}

/* i fa fa-html5 {
    float: left;
} */

.iconfive {
    float: left;
    /* width: 60px;
    height: 60px; */
    font-size: 2.3em;
    padding: 15px;
    background: orangered;
}

.iconell {
    float: right;
    font-size: 2.3em;
    background: skyblue;
    padding: 15px;
}

.lefticons {
    /* margin: 50%; */
    float: left;
    /* padding-left: 12px; */
    font-size: 2.3em;
    background: blueviolet;
}

.iconbookmark {
    float: right;
    /* padding-right: 12px; */
    font-size: 2.3em;
    background: burlywood;
}

.htmlheader {
    float: left;
    background: yellow;
}

.bottomicons {
    padding: 10px;
}

footer {
    /* padding:15px; */
    background:chartreuse;
 
}

.liked {
    padding: 10px;
    float: left;
}

.text {
    padding: 10px;
}